
// For example:
$my-blue: #010a43;
$my-pink: #ff3f98;
$my-purple: #31112c;
$my-red: #7d0633;
$my-orange: #eda593;
$my-lightpink: #f3d3d3;
$other-pink: #ffc7c7;
$my-grey: #F9F9F9;
$my-white: #f6f6f6;
$dark-grey: #a9a9a9;
$darker-grey: #aaaaaa;
$my-yellow: #fbdcc4;
$my-otherorange: #f2a07b;
$green: green;
$yellow: yellow;


