

.avatar-large {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border: white 5px solid;
    margin-bottom: 15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
.banner-title-2 {
  margin-top: 1rem;
  margin-left: 1px;
  font-style: bold;
}




.text-banner {
    font-size: 1rem!important;

}
// .container .cards

#about-me {
  margin-top: 30px;

}

#about-paragraph-box {
 color: white;
  margin-top: 10px;
  font-size: 16px;
  padding-left: 61px;
  padding-right: 30px;

}
p.about-paragraph {
  font-weight: 600!important;
  font-family:'Raleway', sans-serif!important;

}

.about-title {
  font-weight: 700;
  font-family:'Raleway', sans-serif!important;
  margin-bottom: 20px;

}

.pages-link a{
  color: white;
  display: flex;
  justify-content: space-around;
  margin: 28px;
  text-decoration: none!important;
  font-style: none;
  font-size: 16px;
}

.pages-link a:hover {
    color: #ff75a0;
    text-decoration: underline;
  }

.about-link {
  color: #ff75a0;
}
