<div class="footer">

   <div class="footer-center">
    <div>
      <i class="fa fa-map-marker">
      </i>
      <p>
        Amsterdam, The Netherlands
      </p>
    </div>
    <div>
      <i class="fa fa-phone">
      </i>
      <p>+31(0)613684499</p>
    </div>
    <div>
      <i class="fa fa-envelope">
      </i>
      <p>
        <a href="mailto:frankiemerckelbach@gmail.com">frankiemerckelbach@gmail.com</a>
      </p>

    </div>

  </div>
    <div class="footer-links">
    <a href="https://github.com/Frankie-Merckelbach"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/frankie_merckelbach/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/frankie.merckelbach"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/frankie-merckelbach-51919a58/"><i class="fab fa-linkedin"></i></a>
  </div>


</div>

