
<section id="about-me">
          <div class="container">
           <h1 class="about-title">About Me</h1>
            <div class="row">
              <div class="col-sm-4 col-md-5">
                <div class="avatar-large">
                  <%= image_tag "frankie2 2.jpg", class:'image1' %>
                </div>
              </div>
                <div class="col-sm-7 col-md-7" id="about-paragraph-box">
                  <p class="about-paragraph">Graduated with a Bachelor degree in Cultural Heritage and a degree in Fullstack Development</p>
                  <p class="about-paragraph">Background in product and project management, mainly in the Art-Industry (2013/2017).</p>
                  <p class="about-paragraph">After more than amazing entrepreneurial experiences in the creative industry, I am keen to join a fully tech company as a Product Manager or Owner.</p>
                  <p class="about-paragraph">Thats why during Corona, I decided to add more to my technical knowledge and learn more about the technical possibilities</p>
                  <p class="about-paragraph">So, I've completed <a href="https://www.lewagon.com/" class="about-link">Le Wagon</a> coding bootcamp (Amsterdam, Batch #449 - july 2020) to add technical skills to my creative profile (HTML, CSS, Javascript, RubyOnRails).</p>
                  <p class="about-paragraph">Currently working as freelance Project Manager and Front-End Developer, And I am looking for a new challenge!</p>
                  <a href="contact.html" class="btn btn-outline-custom4" role="button">LET'S TALK</a>
                </div>
            </div>

<div class="pages-link">
<%= link_to "Let's Talk", contact_path %>
<%= link_to "Home page", root_path %>
  </div>
