



<div class="container">

  <div class="cards-experiences">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Discover Rembrandt
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Kunst Rai
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Christie's @ Zuiveringshal
  </div>
</div>
  <div class="card-container">
  <div class=cards-experiences>

    <div class="card-exp-1">
      <p>discover rembrandt</p>
    </div>
    <div class="card-exp-2">
      <p>Kunst Rai</p>
    </div>  <div class="card-exp-3">
      <p>Christie's @ Westergas</p>
    </div>  <div class="card-exp-4">
      <p>Bankgiro Loterij</p>
    </div>  <div class="card-exp-5">
      <p>Studio Drift </p>
    </div>
  </div>
</div>
</div>

<div class="pages-link">

<%= link_to "Let's Talk", contact_path %>
<%= link_to "Home page", root_path %>

  </div>
