.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

/* Footer links */

// .footer-links{
//   color:  #162447;
//   margin: 20px 0 12px;
//   padding: 0;
// }

// .footer-links a{
//   display:inline-block;
//   line-height: 1.8;
//   text-decoration: none;
//   color:  inherit;
//   font-size: 15px;
//   font-weight: 900;
//   margin-left: 0;
// }

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
